{:paths ["src"]
 :deps {io.github.nextjournal/clerk {:git/sha "d1b69b98f2d4aa096c00f919c7a5767afa64b1e7"}}
 :aliases {:nextjournal/clerk {:extra-deps {scicloj/tablecloth {:mvn/version "6.102"}}
                               :exec-fn nextjournal.clerk/build!
                               :exec-args {:index "src/nextjournal/clerk_dwim.clj"}}}}
